* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nastaliq';
    src: url('../fonts/IranNastaliq.ttf') format('truetype');
}

.mainpage {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-image: url('../images/IMG_9625.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header {
    font-family: 'Nastaliq', serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.header-p {
    justify-self: center;
    font-size: clamp(16px, 4vw, 40px);
    width: clamp(300px, 30vw, 1000px);
}

.header-h {
    font-size: clamp(26px, 7vw, 65px);
}

body {
    direction: rtl;
}
.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    height: 7vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}
.nav-links {
    display: flex;
    gap: 15px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.icon-buttons {
    display: flex;
    gap: 10px;
}
.icon-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.menu-button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.nav-content {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px); /* مقدار بالا رفتن */
    }
}

.icon-scroll {
    background: none;
    border: none;
    color: white;
    font-size: clamp(30px, 4vw, 55px);
    cursor: pointer;
    align-self: flex-end;
    position: absolute;
    left: 50%;
    bottom: 5%;
    animation: bounce 1.5s infinite ease-in-out; /* اجرای نامحدود */
}
