* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none; 
}


body {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
    direction: rtl;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

@font-face {
    font-family: 'Nastaliq';
    src: url('../fonts/IranNastaliq.ttf') format('truetype');
}

.mainpage {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: 0;
    background-image: url('../images/IMG_9625.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header {
    font-family: 'Nastaliq', serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.header-p {
    justify-self: center;
    font-size: clamp(16px, 4vw, 40px);
    width: clamp(300px, 30vw, 1000px);
}

.header-h {
    font-size: clamp(26px, 7vw, 65px);
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    height: clamp(40px, 7vh, 80px);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    z-index: 1;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: clamp(8px, 2vh, 16px);
}

.icon-buttons {
    display: flex;
    gap: 10px;
}

.icon-button {
    background: none;
    border: none;
    color: white;
    font-size: clamp(10px, 2vh, 20px);
    cursor: pointer;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: clamp(12px, 2vh, 24px);
    cursor: pointer;
}

.nav-content {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

#icon-scroll {
    background: none;
    border: none;
    color: white;
    font-size: clamp(30px, 4vw, 55px);
    cursor: pointer;
    align-self: flex-end;
    position: absolute;
    left: 50%;
    bottom: 5%;
    animation: bounce 1.5s infinite ease-in-out;
    z-index: 1;
}

.content {
    margin-top: 100vh;
    height: 100vh;
    width: 100% ;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container-p-pic {
    top: -5%;
    width: 95% !important;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.line-wrapper {
    position: relative;
    width: 100%;
    height: 110%;
    margin-bottom: 20px;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,
                  black 0%,
                  black 10%,
                  transparent 50%,
                  black 90%,
                  black 100%);
    position: relative;
}

.vertical-line {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: black;
}

.vertical-line.left {
    left: 0;
}

.vertical-line.right {
    right: 0;
}

.text {
    position: absolute;
    top: -1.5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: (255, 220, 123);
    padding: 0 10px;
    font-size: clamp(11px, 2vw, 22px);
    color: white;
    background-color: white;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.p-content {
    position: relative;
    width: 100%  !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 0 3% 0 3%;
}

.text2 {
    font-size: clamp(11px, 2vw, 22px);
    text-align: right;
    margin-bottom: 20px;
    padding: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.img {
    display: block;
    width: 100%;
    border: 2px solid black;
    border-radius: 5%;
    object-fit: cover;
}

.linebox-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.line-box1 {
    width: 50%;
    height: 30vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('../images/IMG_9624.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    border-bottom: 4px solid black;
    margin-top: 20px;
    border-radius: 0 20px 20px 0;
    margin-right: auto;
    margin-bottom: 20px;
}

.line-box2 {
    width: 50%;
    height: 30vh;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('../images/IMG_9624.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 4px solid black;
    border-left: 2px solid black;
    border-radius: 20px 0 0 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 20px;
}

.line-box3 {
    width: 50%;
    height: 30vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('../images/IMG_9624.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    border-bottom: 4px solid black;
    margin-top: 20px;
    border-radius: 0 20px 20px 0;
    margin-right: auto;
    margin-bottom: 20px;
}

.line-box4 {
    width: 50%;
    height: 30vh;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('../images/IMG_9624.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 4px solid black;
    border-left: 2px solid black;
    border-radius: 20px 0 0 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 20px;
}

.line-box5 {
    width: 50%;
    height: 30vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('../images/IMG_9624.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    border-bottom: 4px solid black;
    margin-top: 20px;
    border-radius: 0 20px 20px 0;
    margin-right: auto;
    margin-bottom: 20px;
}

.line-box6 {
    width: 50%;
    height: 30vh;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('../images/IMG_9624.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 4px solid black;
    border-left: 2px solid black;
    border-radius: 20px 0 0 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 20px;
}

.textContainer-right {
    width: 50%;
    color: #ffffff;
    float: right;
    text-align: right;
    direction: rtl;
    padding: 10px;
}

.textContainer-left {
    color: #ffffff;
    width: 50%;
    float: left;
    text-align: right;
    direction: rtl;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .line-box1, .line-box2, .line-box3, .line-box4, .line-box5, .line-box6 {
        width: 40vh;
        height: 15vh;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .line-box1, .line-box2, .line-box3, .line-box4, .line-box5, .line-box6 {
        width: 60vh;
        height: 20vh;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .line-box1, .line-box2, .line-box3, .line-box4, .line-box5, .line-box6 {
        width: 80vh;
        height: 22vh;
    }
}

.footer {
    background: #fff8e1;
    padding: 20px;
    width: 100%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    order: 9000;
    font-size: clamp(12px, 2vw, 16px);
}

.fhead-container {
    font-family: 'Nastaliq', serif;
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 9%;
}

.footer-topline {
    width: 100%;
    height: 3px;
    background-color: orange;
    order: -1;
    margin: 20px;
    margin-right: 0;
}

.footer-head {
    display: flex;
    flex-direction: column;
    order: 0;
}

.footer-bottomline {
    width: 100%;
    height: 3px;
    background-color: orange;
    order: 1;
    margin: 20px;
    margin-right: 0;
}

.about {
    background: #fde1c3;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 50px;
    font-size: clamp(12px, 2vw, 16px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address {
    background: #fcd7b6;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: clamp(12px, 2vw, 16px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    margin: 0 5px;
    display: inline-block;
    background: #ffcc99;
    padding: 10px;
    border-radius: 50%;
    font-size: clamp(12px, 2vw, 16px);
}

.copyright {
    text-align: center;
    margin-top: 10px;
    font-size: clamp(10px, 1.5vw, 14px);
    color: #000000;
}

@media screen and (max-width: 768px) {
    .footer {
        width: 100%;
        padding: 10px;
    }

    .about, .address {
        padding: 10px;
        margin-bottom: 10px;
    }

    .social-icons a {
        padding: 5px;
    }
}
