<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/styles/index-style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>صفحه اصلی</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-content">
            <button class="menu-button"><i class="fas fa-bars"></i></button>
            <div class="nav-links">
                <a href="">صفحه اصلی</a>
                <a href="">میز خدمت</a>
                <a href="">ارتباط با ما</a>
            </div>
            <div class="icon-buttons">
                <button class="icon-button"><i class="fas fa-question-circle"></i></button>
                <button class="icon-button"><i class="fas fa-headset"></i></button>
                <button class="icon-button"><i class="fas fa-user"></i></button>
            </div>
        </div>
    </nav>
    <div class="mainpage">
        <div class="header">
            <h1 class="header-h">هنرستان فنی حرفه ای حاج اصغر اسماعیلیان</h1>
            <p class="header-p">خواهر و برادر فداکار نصرت اسماعیلیان و اصغر اسماعیلیان تمام دارایی خود را صرف دانش آموزان کرمان و در جهت ساخت این بنای مدرسه نمودند</p>
        </div>
        <button id="icon-scroll"><i class="fa-solid fa-chevron-down"></i></button>
    </div>

    <div id="content">
        <h1>example</h1>
    </div>
    <footer class="footer">
        <div class="footer-line">

            <h3>هنرستان فنی حرفه‌ای حاج اصغر اسماعیلیان</h3>
        </div>
        <div class="about">
           <p> به طور کلی مدرسه حاج اصغر اسماعیلیان (دخترانه) در استان از جمله بهترین مدارس دولتی می‌باشد. این مدرسه به دانش آموزان فنی و حرفه‌ای در رشته‌های تربیت بدنی، تولید برنامه، حسابداری، شبکه و نرم‌افزار و معماری خدمات ارائه می‌نماید.</p>
        </div>
        <div class="address">
            <p>📍 آدرس ما: استان کرمان، شهرستان کرمان، بزرگراه امام رضا، بعد از بلوار غلامعلی امین (جاده قدیم زنگی)</p>
        </div>
        <div class="social-icons">
            <a href=""><img src="C:\Users\Ali Abbasi\Desktop\footr\Icon\instagram-logo.svg" alt="Instagram" width="24"></a>
            <a href=""><img src="C:\Users\Ali Abbasi\Desktop\footr\Icon\eitaa-icon-black.svg" alt="Eitaa" width="24"></a>
            <a href=""><img src="C:\Users\Ali Abbasi\Desktop\footr\Icon\telegram-logo.svg" alt="Telegram" width="24"></a>
        </div>
        <div class="copyright">
            Copyright (c) 2025 ParsCode Programming Team   
        </div>
    </footer>
    <script src="../static/scripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
