<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/styles/index-style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>صفحه اصلی</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-content">
            <button class="menu-button"><i class="fas fa-bars"></i></button>
            <div class="nav-links">
                <a href="">صفحه اصلی</a>
                <a href="">میز خدمت</a>
                <a href="">ارتباط با ما</a>
            </div>
            <div class="icon-buttons">
                <button class="icon-button"><i class="fas fa-question-circle"></i></button>
                <button class="icon-button"><i class="fas fa-headset"></i></button>
                <button class="icon-button"><i class="fas fa-user"></i></button>
            </div>
        </div>
    </nav>

    <div class="mainpage">
        <div class="header">
            <h1 class="header-h">هنرستان فنی حرفه ای حاج اصغر اسماعیلیان</h1>
            <p class="header-p">خواهر و برادر فداکار نصرت اسماعیلیان و اصغر اسماعیلیان تمام دارایی خود را صرف دانش آموزان کرمان و در جهت ساخت این بنای مدرسه نمودند</p>
        </div>
        <button id="icon-scroll"><i class="fa-solid fa-chevron-down"></i></button>
    </div>

    <div class="content">
        <div class="container-p-pic">
            <div class="line-wrapper">
                <div class="horizontal-line"></div>
                <div class="vertical-line left"></div>
                <div class="vertical-line right"></div>
                <span class="text">درباره هنرستان</span>
                <div class="p-content">
                    <p class="text2">
                        زمین هنرستان حاج اصغر اسماعیلیان ابتدا توسط ........ به آموزش و پرورش کرمان اجاره شده و اصغر و نصرت اسماعیلیان خواهر و برادر<br> .فداکاری بودند که تمام دارایی خود را در جهت ساخت بنای وسیع هنرستان وقف نمودند<br>.اطلاعات بنا و ملک مدرسه<br> .این هنرستان دارای رشته های مختلفی از جمله شبکه و نرم افزار(کامپیوتر), تربیت بدنی, برق صنعتی(الکتروتکنیک), تولید برنامه های تلوزیونی و معماری و حسابداری می باشد که از نظر وجود تجهیزات و محیط برای آموزش بهتر در سطح بسیار بالایی قرار دارد و اطلاعات مربوط به تجهیزات هر رشته را میتوانید در وبلاگ مخصوص آن رشته مطالعه کنید<br>. ظرفیت مدرسه به طور میانگین 900 نفر دانش آموز بوده و در قالب 15 کلاس دهم یازدهم و دوازدهم است. <br>همچنین مدرسه دارای 5 کارگاه کامپیوتر, 4 کارگاه الکتروتکنیک, زمین چمن مصنوعی, زمین دوجانبه والیبال و بسکتبال استاندارد<br>, استودیوی حرفه ای صدا و تصویر, نمازخانه, باشگاه کشتی, باشگاه بدنسازی و باشگاه تیراندازی با کمان و سالن پینگ پونگ است.
                    </p>
                    <div class="img-container">
                        <img class="img" src="../static/images/IMG_9626.webp" alt="عکس">
                    </div>
                </div>
            </div>


        </div>

        <div class="linebox-container">
            
            <div class="line-box1">
                <div class="textContainer5">
                    <h3>
                        کامپیوتر
                    </h3>
                    <p>
                        همین رشته مدرسه این  سایت را ساخته است
                    </p>
                </div>
            </div>

            <div class="line-box2">
                <div class="textContainer6">
                    <h3>
                        تربیت بدنی
                    </h3>
                    <p>
                        بهترین رشته د مدرسه
                    </p>
                </div>
            </div>

            <div class="line-box3">
                <div class="textContainer5">
                    <h3>
                        تولید برنامه
                    </h3>
                    <p>
                        خداوکیل رشته خوبیه
                    </p>
                </div>
            </div>

            <div class="line-box4">
                <div class="textContainer6">
                    <h3>
                        حسابداری
                    </h3>
                    <p>
                        کسایی که میان این رشته ای کیو زیر 8 ارندد لطفا دوری کنید
                    </p>
                </div>
            </div>

            <div class="line-box5">
                <div class="textContainer5">
                    <h3>
                        معماری
                    </h3>
                    <p>
                        کارگر های مدرسه اسما اسماعیلیان
                    </p>
                </div>
            </div>

            <div class="line-box6">
                <div class="textContainer6">
                    <h3>
                        رشته الکتروتکنیک
                    </h3>
                    <p>
                        این رشته تمرکز خود را بر طراحی، نصب، بهره‌برداری و نگهداری تجهیزات و سیستم‌های الکتریکی قرار می‌دهد. الکتروتکنیک به طور کلی به تمامی حوزه‌های مرتبط با تولید، انتقال، توزیع و مصرف انرژی الکتریکی مربوط می‌شود و از سیستم‌های کوچک خانگی تا شبکه‌های بزرگ صنعتی و نیروگاهی را در بر می‌گیرد
                    </p>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="fhead-container">
                <div class="footer-topline">
                </div>

                <div class="footer-head">
                    <h3>هنرستان</h3>
                    <h3>فنی حرفه ای</h3>
                    <h3>حاج اصغر اسماعیلیان</h3>
                </div>

                <div class="footer-bottomline">
                </div>
            </div>

            <div class="about">
               <p> به طور کلی مدرسه حاج اصغر اسماعیلیان (دخترانه) در استان از جمله بهترین مدارس دولتی می‌باشد. این مدرسه به دانش آموزان فنی و حرفه‌ای در رشته‌های تربیت بدنی، تولید برنامه، حسابداری، شبکه و نرم‌افزار و معماری خدمات ارائه می‌نماید.</p>
            </div>

            <div class="address">
                <p>📍 آدرس ما: استان کرمان، شهرستان کرمان، بزرگراه امام رضا، بعد از بلوار غلامعلی امین (جاده قدیم زنگی)</p>
            </div>

            <div class="social-icons">
                <a href=""><img src="../static/icons/instagram-logo.svg" alt="Instagram" width="24"></a>
                <a href=""><img src="../static/icons/eitaa-icon-black.svg" alt="Eitaa" width="24"></a>
                <a href=""><img src="../static/icons/telegram-logo.svg" alt="Telegram" width="24"></a>
            </div>

            <div class="copyright">
                <p>Copyright (c) 2025 ParsCode Programming Team. All rights reserved.</p>
            </div>
        </footer>
    </div>

    <script src="../static/scripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
